# ==========================================
# 1. IGNORE EVERYTHING BY DEFAULT
# ==========================================
*

# ==========================================
# 2. ALLOW GITIGNORE ITSELF
# ==========================================
!.gitignore
!weptech/

# ==========================================
# 3. ALLOW SPECIFIC FOLDERS / FILES
# ==========================================
!weptech/c8y_oms_parser_service/
!weptech/c8y_oms_parser_service/**
!weptech/oms-decoder-c8y-oms-parser/
!weptech/oms-decoder-c8y-oms-parser/**



# ==========================================
# 4. RE-IGNORE SPECIFIC SUBFOLDERS OR FILES INSIDE ALLOWED FOLDERS
# ==========================================
weptech/c8y_oms_parser_service/.idea/
weptech/c8y_oms_parser_service/.idea/**
weptech/c8y_oms_parser_service/target/
weptech/c8y_oms_parser_service/target/**
weptech/c8y_oms_parser_service/.DS_Store
weptech/c8y_oms_parser_service/build-packge.sh
weptech/c8y_oms_parser_service/c8y-oms-parser-service.zip
weptech/c8y_oms_parser_service/image.tar
weptech/c8y_oms_parser_service/Cargo.lock

weptech/oms-decoder-c8y-oms-parser/.DS_Store
weptech/oms-decoder-c8y-oms-parser/oms-decoder-microservice-java/.idea
weptech/oms-decoder-c8y-oms-parser/oms-decoder-microservice-java/target
weptech/oms-decoder-c8y-oms-parser/oms-decoder-microservice-java/target/**
weptech/oms-decoder-c8y-oms-parser/oms-decoder-microservice-java/.DS_Store
weptech/oms-decoder-c8y-oms-parser/oms-decoder-microservice-java/build_ms.sh
weptech/oms-decoder-c8y-oms-parser/oms-decoder-microservice-java/build.log
weptech/oms-decoder-c8y-oms-parser/oms-decoder-microservice-java/src/test/
weptech/oms-decoder-c8y-oms-parser/oms-decoder-microservice-java/src/test/**